/*
* {
  /*bxz*/
  /*el tamaño de la caja incluye margin y border*/
/*  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*/

/*RESET*/
/*header, body, footer, ul {
  padding: 0px;
  margin: 0px auto;
}*/

/*COLORES:
 naranja: #FF9900
 verde: #009933
 naranja claro: #FFCC99
 verde claro: #99CC99*/

/* ESTILOS NORMALES (para móviles en vertical)
========================================================================= */
html{
  /*font-size: 12px;*/
  color: #009933;
}
body{
  width: 100%;
  font-family: 'Viga', arial, sans-serif;
}
p{
  margin: 0px;
  padding: 10px 10px 10px 10px;
}

/* ===== CABECERA =====*/
header{
  text-align: center;
}
  header h1{
    font-weight: normal;
    font-size: 1.05rem;
    color: #009933;
    margin: 0px 0px 15px 0px;
  }

  header img{
    width: 80%; /*con el width y el max-width hacemos que la imagen ocupe todo lo que ocupe su contenedor, pero le pongo un 80% porque no quiero que lo ocupe todo*/
    max-width: 100%; /*no entiendo por qué ponemos este tamaño máximo*/
  }

/* ===== BARRA DE NAVEGACIÓN ===== */
nav{
  width: 100%;
  display: table;
  margin: 8px 0px;
  padding: 8px 0px;
  background-color: #FF9900;
  font-size: 1rem;
}
  nav ul{
    width: 100%;
    background-color: transparent;
    list-style-type: none;
    display: table-row;
  }
    nav li{
      display: table-cell;
      width: 20%;
      text-align: center;
      vertical-align: middle;
      line-height: 1em;
      padding: 1px 5px 1px 5px;
    }
    nav li:not(:last-child) { /*FLIPA, FUNCIONA!! ES TODOS LOS LI QUE NO SON LAST-CHILD*/
      border-right: solid 2px #FFFFFF;
      /*-webkit-box-shadow: 2px 0 2px #FFFFFF;
      box-shadow: 2px 0 10px -6px #FFFFFF;*/
  }
  nav a{

    /*BOTONERA*/
    /*border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background-image: -webkit-linear-gradient(top, #FF9900, #FFCC99);
    background-image: -moz-linear-gradient(top, #FF9900, #FFCC99);
    background-image: -ms-linear-gradient(top, #FF9900, #FFCC99);
    background-image: -o-linear-gradient(top, #FF9900, #FFCC99);
    background-image: linear-gradient(to bottom, #FF9900, #FFCC99);*/
  }
    nav a:link{
      text-decoration: none;
      color: #FFFFFF;
    }
    nav a:visited{
      color: #FFFFFF;
    }
    nav a:hover{
      color: #009933;
    }

/*===textos===*/
    .texto-principal{ /*texto sobre las imágenes*/
      color: #FFFFFF;
      padding: 1.5em 1em;
    }
    .resaltado{ /*CAMBIAR EL NOMBRE A texto-imagen__resaltado*/
        font-size: 1.6rem;
        font-weight: bold;
    }
    .texto-nosotros_resaltado{ /*CAMBIAR NOMBRE A .resaltado*/
      font-size: 1.2rem;
      font-weight: bold;
    }
    ul.contacto{
      list-style-type: none;
    }

/* ===== SECCIONES =====*/
section{
  display: table;
  margin: 20px 0px;
  width: 100%; /*como el width en porcentaje hace referencia al ancho del elemento que lo contiene, es necesario especificarlo aquí para aquellos elementos cuyo texto es menor al ancho de la pantalla*/
  text-align: center;
  vertical-align: middle;
}
  section h1{
    font-size: 1.3rem;
    color: #009933;
    padding: 20px 10px;
    /*min-height: 100px;*/
    margin: 0px; /*no entiendo por qué lo tengo que indicar aquí tambien, cuando ya lo he hecho en el reset*/
    line-height: 2rem;
  }
  section h1~p{
    padding-top: 0px; /*lo pongo así porque el párrafo por defecto tiene un padding superior de 10px;*/
  }
  .sin_imagen{
      line-height: 1.5rem;
      min-height: 0px;
      padding-bottom: 0px;
  }
  .contenedor{
    display: table-cell;
    position: relative;/*le asignamos este position para que luego pueda hacer el recorte de la imagen*/
    overflow: hidden;
    height:100px;
    text-align: center;
    vertical-align: middle;
    width:auto;
  }
  .contenedor--doble{
    display: table-cell;
    position: relative;/*le asignamos este position para que luego pueda hacer el recorte de la imagen*/
    overflow: hidden;
    height:100px;
    width: 50%;
    text-align: center;
    vertical-align: middle;
    margin: 0px 10px;
    background-color:#FFCC99;
  }
  section.nosotros{
    text-align: center;
  }
  .secundario{
    font-size: 1rem;
    font-weight: bold;
  }

/*===section cestas: UTILIZO LA CLASE cestas===*/
/*section.cestas{
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}
     .cesta_producto{
        margin: 1px 4px 20px 0px;
        font-size: 0.75rem;
        width: 95%;
        -webkit-box-shadow: 2px 2px 1px 0px rgba(255,153,0,1);
        -moz-box-shadow: 2px 2px 1px 0px rgba(255,153,0,1);
        box-shadow: 2px 2px 1px 0px rgba(255,153,0,1);
        border: 0.5px solid rgba(255, 153, 0, 1);
        font-weight: normal;
        font-family: arial;
    }
        .cesta_producto > picture > img{
          width: 100%;
        }
        .cesta_producto > p {
            padding: 5px;
        }
        .cesta_producto > ul{
            list-style: none;
            padding: 5px;
        }
            .cesta_producto > ul > li:before{
                content: "· ";
                font-size:0.9rem;
            }*/

  /*===imagenes de fondo===*/
  /*figure {
    padding: 0px;
    margin: 0px;
    border: 0px;
  }
    figure .facebook{
      width: 1.5rem;
      padding-top:.4em;
    }
    figure .imagen{
      position: absolute;
      z-index: -1;
      top: 0px;
      left: 0px;
      height: 100%;
    }
  section iframe{
    padding: 10px 0px 0px 0px;
  }

  /*===diferentes tipos de contenedores, con distintos fondos adaptados al tamaño del dispositivo===*/
    /*
  .arte{
    background-image: url("../images/menor_360/arte_1_360.jpg");
    background-size: cover;
  }
  .fruta{
    background-image: url("../images/menor_360/fruta_1_360.jpg");
    background-size: cover;
  }
  .granel{
    background-image: url("../images/menor_360/granel_1_360.jpg");
    background-size: cover;
  }
  .cosmetica{
    background-image: url("../images/menor_360/cosmetica_1_360.jpg");
    background-size: cover;
  }
  .naranja{
    background-color: #FFCC99;
  }*/
/* ===== PIE =====*/
/*footer{
  text-align: center;
  margin-top: 20px;
  margin-bottom:20px;
  padding-top: 10px;
  border-top: 2px solid #FFCC99;
  border-bottom: 2px solid #FFCC99;
  font-family: arial, sans-serif;
}

footer p{
  padding: 0px;
  margin: 0px;
  font-size:0.7rem;
  color: #000000;
}

footer figure .facebook{
  width: 1.3em; /*estos tamñaos los tengo en em pero no creo que estén bien, o al menos no se cual es el tamaño del contenedor...
  padding-top: .3em;
}

.autor{
  font-size: .4rem;
  width: 100%;
  text-align: right;
}*/


/* RESPONSIVE
========================================================================= */

/* 360
------------------------------------------------------------------------- */
@media all and (min-width: 360px) {
  html{
    font-size: 1.05rem;
  }
  section.cestas{
      justify-content: space-around;
  }
  .cesta_producto{
    width: 95%;
  }
  /*===diferentes tipos de contenedores, con distintos fondos adaptados al tamaño del dispositivo===*/
  .arte{
    background-image: url("../images/menor_640/arte_1_640.jpg");
    background-size: cover;
  }
  .fruta{
    background-image: url("../images/menor_640/fruta_1_640.jpg");
    background-size: cover;
  }
  .granel{
    background-image: url("../images/menor_640/granel_1_640.jpg");
    background-size: cover;
  }
  .cosmetica{
    background-image: url("../images/menor_640/cosmetica_1_640.jpg");
    background-size: cover;
  }
  .naranja{
    background-color: #FFCC99;
  }
}

/* 480
------------------------------------------------------------------------- */
@media all and (min-width: 480px) {
  section.cestas{
      justify-content: space-around;
  }
  .cesta_producto{
    width: 46%;
  }
}

/* 640
------------------------------------------------------------------------- */
@media all and (min-width: 640px) {
  html{
    font-size: 1.2rem;
  }
  .contenedor,
  .contenedor--doble{
    height: 150px;
  }
  /*===diferentes tipos de contenedores, con distintos fondos adaptados al tamaño del dispositivo===*/
  .arte{
    background-image: url("../images/menor_800/arte_1_800.jpg");
    background-size: cover;
  }
  .fruta{
    background-image: url("../images/menor_800/fruta_1_800.jpg");
    background-size: cover;
  }
  .granel{
    background-image: url("../images/menor_800/granel_1_800.jpg");
    background-size: cover;
  }
  .cosmetica{
    background-image: url("../images/menor_800/cosmetica_1_800.jpg");
    background-size: cover;
  }
  .naranja{
    background-color: #FFCC99;
  }
}

/* 800 Escritorios muy anchos
------------------------------------------------------------------------- */
@media all and (min-width: 800px) {
  html{
    font-size: 1.4rem;
  }
  header img{
    width: 80%; /*con el width y el max-width hacemos que la imagen ocupe todo lo que ocupe su contenedor, pero le pongo un 80% porque no quiero que lo ocupe todo*/
    max-width: 600px; /*no entiendo por qué ponemos este tamaño máximo*/
  }
  body{
    width:800px;
  }
  .contenedor,
  .contenedor--doble{
    height: 200px;
  }
  .cesta_producto{
    width: 48%;
  }
  /*===diferentes tipos de contenedores, con distintos fondos adaptados al tamaño del dispositivo===*/
  .arte{
    background-image: url("../images/menor_1280/arte_1_1280.jpg");
    background-size: cover;
  }
  .fruta{
    background-image: url("../images/menor_1280/fruta_1_1280.jpg");
    background-size: cover;
  }
  .granel{
    background-image: url("../images/menor_1280/granel_1_1280.jpg");
    background-size: cover;
  }
  .cosmetica{
    background-image: url("../images/menor_1280/cosmetica_1_1280.jpg");
    background-size: cover;
  }
  .naranja{
    background-color: #FFCC99;
  }
}
